<ion-content>
  <ion-grid class="ion-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size="11">
        <ion-icon name="infinite"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="11">
        <h1>Welcome to Infinity</h1>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="11">
        <h3>Infinity is a sample app for Angular Ionic.</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button expand="block" [routerLink]="['/login']">Login</ion-button>
  <ion-button expand="block" (click)="login()">Auth Login</ion-button>

  <div *ngIf="user$ | async as user" class="profile-container">
    <ion-avatar class="avatar">
      <img [src]="user.picture" [alt]="user.name" />
    </ion-avatar>
    <h2>{{ user.name }}</h2>
    <p>{{ user.email }}</p>
  </div>
</ion-content>